---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Kevin and Aimee's Wedding">
  <h1>
  Please don't call off the wedding.
  </h1>
</Layout>

<style>
  h1 {
    font-weight: 200;
    font-size: 2vw;
    font-size: clamp(1rem, 10vw, 2rem);
    letter-spacing: -0.03em;
  }
</style>

