---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Kevin and Aimee... or Aimee and Kevin's official wedding page, depending on how you look at it." />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
  html, * {
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    height: 80%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3em;
  }
</style>
